body,html {
    margin:0;
    padding:0;
}
body *{
    margin:0;
    padding:0;
}


.slide{
    max-width:100vw; /* bottom comment explains why im using "max-width" instead of "width" */
    height:100vh; /* for a dumb reason when I set any value to this it causes the width to normally overflow*/
    /* 
    no this does nothing to solve it. 
    CSS is like using a curtain,
    except it get tangled if you use it in any way so you must do some werid trickery in order to make it work 
    */
    box-sizing:border-box;
    position:relative;
    border:solid;
}

::root{
   --font-size:1em;
}

#title{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:3vmin;
}
#title h1{
    font-size: 4em;
    border:solid;
    padding-inline:4vw;
    border-radius:0.5vmin;
}
#title a{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    font-size:0.7em;
}

#mainHeader{
    display:flex;
    align-items:center;
    height:12vh;
}
#mainHeader-title{
    margin-left:2vw;
}
#mainHeader nav{
    align-self:flex-end;
}
